@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	font-family: 'Open Sans',serif;

}
.blue {
  background-color: #30C6E9;
}

h1 {
	font-size: 60px;
	margin: 0px;
	color: white;
}
h4 {
  color: #868686;
}

#intro {
	background-image: url("./images/earth-img.jpg");
	background-attachment: fixed;
  height: 100vh;
	
}
#main {
    position: relative;
    top: 50px;
}
.text-justify {
	text-align: justify;
	font-size: 20px;

}
.boxed {
  width: 300px;
}

img {
    padding: 20px;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

summary {
  display: block;
}
#about {
  padding-top: 60px;
}
ul.nav {
    white-space: nowrap;
    overflow-x: auto;
}

ul.nav li {
    display: inline-block;
    float: none;
}


.container {
  position: relative;
  width: 33%;
}

.image {
  display: block;
  width: 80%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #1C47E6;
  cursor: pointer;
  cursor: hand;
}

.container:hover .overlay {
  opacity: 1;
}

#read_more {
  text-align: center;
  position: absolute;
  bottom: 0px;
  color: #717171;
  left: 46%;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration:500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  font-size: 2vh;

}
#read_more:hover {
  cursor: pointer;
  cursor: hand;
  color: white;
}
#read_more > i {
  display: block;
}
#quotes {
  color: #717171;
  position: relative;
  top: 15%;
  width: 50%;
  font-size: 3vh;
  text-align: justify;
}
.quote {
  width: 33%;
  margin-left: 8%;
  margin-bottom: 6%;
  float: right;
}
a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}