@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	padding-top: 40px;
	font-family: 'Open Sans',serif;

}
#main {
   position: relative;
   
}
#main:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("./images/earth-img.jpg"); 
    background-attachment: fixed;	
    width: 100%;
    height: 100%;
    opacity : 0.8	;
    z-index: -1;
}
h1 {
	font-size: 60px;
	margin: 0px;
	padding: 70px 10px 200px 10px;
	color: white;
}
.tall {
	height: 300px
}
#intro {
	background-image: url("./images/earth-img.jpg");
	background-attachment: fixed;
	
}

.text-justify {
	text-align: justify;
	font-size: 18px;
}
img {
    padding: 20px;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}
.transparent {
	opacity: 0.7;
}
hr { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}
summary {
  display: block;
}
#about {
  padding-top: 60px;
}