@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	padding-top: 40px;
	font-family: 'Open Sans',serif;

}
.blue {
  background-color: #30C6E9;
}

h1 {
	font-size: 60px;
	margin: 0px;
	padding: 70px 10px 200px 10px;
	color: white;
}
.tall {
	overflow: auto;
}
#intro {
	background-image: url("./images/earth-img.jpg");
	background-attachment: fixed;
	
}

.text-justify {
	text-align: justify;
	font-size: 20px;

}
.boxed {
  width: 300px;
}

img {
    padding: 20px;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

summary {
  display: block;
}
#about {
  padding-top: 60px;
}
ul.nav {
    white-space: nowrap;
    overflow-x: auto;
}

ul.nav li {
    display: inline-block;
    float: none;
}


.container {
  position: relative;
  width: 33%;
}

.image {
  display: block;
  width: 80%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #1C47E6;
  cursor: pointer;
  cursor: hand;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}